<%= simple_form_for @quote do |f| %>
  <% if quote.errors.any? %>
    <div>
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :citation %>
    <%= f.text_area :text %>
  </div>

  <div>
    <%= f.label :auteur %>
    <%= f.text_field :author %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>
<% end %>

