<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div>
  <%= link_to "Modifier la citation", edit_quote_path(@quote) %> |
  <%= link_to "Retour", quotes_path %>

  <%= button_to "Supprimer la citation", @quote, method: :delete %>
</div>
