<nav class="navbar-all">
        <a class="navbar-brand" href="/quotes">
        <%= image_tag 'Group1.png'%>
        </a>
        
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link " href="/quotes/new">Écrire une citation</a></li>
          </li>
        </ul>
</nav>
<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "Nouveau compte", new_user_path %>
